/* GOOGLE FONT */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #FFF8F5;
    color: #1A1A1A;
    font-family: 'Poppins', sans-serif;
}

/* NAVBAR */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background: #ffffff;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.05);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo h2 {
    color: #4A5D4E;
}

.logo span {
    font-size: 12px;
    color: #64748B;
}

nav a {
    text-decoration: none;
    margin-left: 25px;
    color: #1E293B;
    font-weight: 500;
    transition: 0.3s;
}

nav a:hover {
    color: #2563EB;
}

.hero {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    background: linear-gradient(135deg,
            #F5F1EA,
            #EAE3D8,
            #D8CBB8);
    color: #2C2C2C;
}

.stay-options {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin: 35px 0;
}

.stay-card {
    width: 170px;
    background: #ffffff;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
}

.stay-card:hover {
    transform: translateY(-8px);
}

.stay-card {
    font-size: 30px;
}

.stay-card span {
    display: block;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #2C2C2C;
}

.hero-content {
    max-width: 900px;
}

.tagline {
    letter-spacing: 2px;
    font-size: 14px;
    margin-bottom: 20px;
    color: #8B6F47;
    font-weight: 600;
}

.hero h1 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.1;
}

.description {
    font-size: 20px;
    max-width: 750px;
    margin: auto;
    margin-bottom: 40px;
    color: #5F5A54;
}

/* SEARCH BOX */

.search-box {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.search-box input {
    width: 350px;
    padding: 18px;
    border: none;
    border-radius: 12px;
    font-size: 16px;
}

.search-box button {
    padding: 18px 35px;
    border: none;
    border-radius: 12px;
    background: #A67C52;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.search-box button:hover {
    transform: translateY(-2px);
}

/* STATS */

.stats {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.stat h3 {
    font-size: 35px;
    margin-bottom: 5px;
}

.stat p {
    color: #CBD5E1;
}

/* FEATURES */

.features {
    padding: 80px 8%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.feature-card {
    background: white;
    padding: 30px;
    border-radius: 18px;
    text-align: center;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
    transition: 0.3s;
}

.feature-card:hover {
    transform: translateY(-8px);
}

.feature-card h3 {
    margin-bottom: 15px;
    color: #4A5D4E;
}

/* PARTNER */

.partner-section {
    text-align: center;
    padding: 90px 20px;
    background: #0F172A;
    color: white;
}

.partner-section h2 {
    font-size: 42px;
    margin-bottom: 15px;
}

.partner-section p {
    max-width: 700px;
    margin: auto;
    margin-bottom: 30px;
    color: #CBD5E1;
}

.partner-btn {
    padding: 18px 35px;
    border: none;
    border-radius: 12px;
    background: #06B6D4;
    color: white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

/* FOOTER */

footer {
    text-align: center;
    padding: 40px;
    background: white;
}

footer h3 {
    color: #4A5D4E;
    margin-bottom: 10px;
}

footer p {
    margin-bottom: 10px;
    color: #64748B;
}

/* MOBILE */

@media(max-width:768px) {

    .navbar {
        flex-direction: column;
        gap: 15px;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .hero h1 {
        font-size: 40px;
    }

    .description {
        font-size: 17px;
    }

    .search-box input {
        width: 100%;
    }

}

.feature-card {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease;
}

.feature-card.show {
    opacity: 1;
    transform: translateY(0);
}